<app-header></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
            <ion-card class="size-card scroll-card" *ngIf="descriptif">
                <ion-item lines="none">
                    <ion-icon name="list-box" slot="start" color="secondary"></ion-icon>
                    <ion-card-title>{{ descriptif.titre }}</ion-card-title>
                </ion-item>
                <ion-card-content no-padding>
                    <ul>
                        <li *ngFor="let item of splitmort(descriptif.description); let i = index">
                            {{item}}
                        </li>
                    </ul>
                    
                </ion-card-content>
                </ion-card>
      </ion-col>
      <ion-col size="6">
          <ion-card class="size-card scroll-card" *ngIf="prevention">
              <ion-item lines="none">
                  <ion-icon name="notifications" slot="start" color="secondary"></ion-icon>
                  <ion-card-title>{{ prevention.titre }}</ion-card-title>
              </ion-item>
              <ion-card-content no-padding>
                  <ul>
                      <li *ngFor="let item of splitmort(prevention.description); let i = index">
                          {{item}}
                      </li>
                  </ul>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="6">
            <ion-card class="size-card scroll-card" *ngIf="energie">
                <ion-item lines="none">
                    <ion-icon name="flash" slot="start" color="secondary"></ion-icon>
                    <ion-card-title>{{ energie.titre }}</ion-card-title>
                </ion-item>
                <ion-card-content no-padding>
                    <ul>
                        <li *ngFor="let item of splitmort(energie.description); let i = index">
                            {{item}}
                        </li>
                    </ul>                  
                </ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col size="6">
            <ion-card class="size-card scroll-card" *ngIf="locaux">
                <ion-item lines="none">
                    <ion-icon name="home" slot="start" color="secondary"></ion-icon>
                    <ion-card-title>{{ locaux.titre }}</ion-card-title>
                </ion-item>
                <ion-card-content no-padding>
                    <ul>
                        <li *ngFor="let item of splitmort(locaux.description); let i = index">
                            {{item}}
                        </li>
                    </ul>
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col size="6">
              <ion-card class="size-card scroll-card" *ngIf="risque">
                  <ion-item lines="none">
                      <ion-icon name="alert" slot="start" color="secondary"></ion-icon>
                      <ion-card-title>{{ risque.titre}}</ion-card-title>
                  </ion-item>
                  <ion-card-content no-padding>
                      <ul>
                          <li *ngFor="let item of splitmort(risque.description); let i = index">
                              {{item}}
                          </li>
                      </ul>
                  </ion-card-content>
                </ion-card>
          </ion-col>
          <ion-col size="6">
              <ion-card class="size-card scroll-card" *ngIf="contact">
                  <ion-item lines="none">
                      <ion-icon name="call" slot="start" color="secondary"></ion-icon>
                      <ion-card-title>{{ contact.titre }}</ion-card-title>
                  </ion-item>
                  <ion-card-content no-padding>
                      <ul>
                          <li *ngFor="let item of splitmort(contact.description ); let i = index">
                              {{item}}
                          </li>
                      </ul>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>

