<ion-header>
    <ion-toolbar no-padding>
        <ion-grid class="background">
            <ion-row align-items-center>
                <ion-col size="2" text-center>
                    <ion-text class="textSize" 
                    *ngIf="displayNavigation"
                    (click)="handlePlanClick()">
                        Plan
                    </ion-text>
                </ion-col>
                <ion-col size="2" text-center>
                    <ion-text class="textSize" 
                    *ngIf="displayNavigation"
                    (click)="handleDetailClick()">
                        Detail
                    </ion-text>
                </ion-col>
                <ion-col size="4">
                    <ion-title>
                        <ion-img (click)="handleLogoClick()" class="logo" [src]="logoImg"></ion-img>
                    </ion-title>
                </ion-col>
                <ion-col size="4">
                    <form action="." class="search" (ngSubmit)="searchbarSubmit()">
                        <ion-searchbar [(ngModel)]="searchbarContent" 
                        [ngModelOptions]="{standalone: true}" 
                        color="danger" 
                        id="search-bar" 
                        class="search-bar" 
                        placeholder="128 rue paul bellamy">
                        </ion-searchbar>
                    </form>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

</ion-header>