<div class="flex">
  <div class="main-block">
    <div class="container">
      <div class="logo-container">
        <ion-img [src]=logoFiremap></ion-img>
      </div>
      <div class="search-container">
        <form action="." class="search" (ngSubmit)="searchbarSubmit()">
          <ion-searchbar [(ngModel)]="searchbarContent" [ngModelOptions]="{standalone: true}"
            (ionInput)="searchbarInput()" color="light" id="search-bar" class="search-bar"
            placeholder="128 rue paul bellamy"></ion-searchbar>
        </form>
      </div>
    </div>
  </div>
  <div class="recent-map-container">
    <div class="recent-map-container-title">Mes plans</div>
    <div class="recent-map-container-content">
      <!-- Boucle sur les maps téléchargées -->
      <div class="divider-container" *ngIf="hasLocalPlans()">
        <div class="divider" *ngFor="let plan of localPlans" (click)="handlePlanClick(plan.id)">
          <div class="card">
            {{ plan.nom_batiment }}
          </div>
        </div>
      </div>

      <div class="divider-container" *ngIf="!hasLocalPlans()">
        <div class="divider">
          <div class="card">
            Pas de plans hors ligne
          </div>
        </div>
      </div>
      <!-- Fin de boucle -->
    </div>
  </div>
</div>