.background{
    background-color: var(--ion-color-primary);
    color: white;
}

.logo{
    width: 50px;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
}

.middle-container{
    display: flex;
    flex-direction: column;
    color: var(--ion-color-secondary);
}

.error404{
    font-size: 10em;
}

.notfound{
    font-size: 5em;
    margin-top: -40px;
}