  <app-header></app-header>
  <div class="container">
    <div class="middle-container">
      <div class="error404">
        404
      </div>
      <div class="notfound">
        Page non trouvée
      </div>
    </div>
  </div>